#family-members {
	background: #FFF;
	border-right: solid 1px #FF5722;
	margin: 0;
	z-index: 999999;
}

.col-full-height {
  height: calc(100% - 60px);
  vertical-align: middle;
}

.link {
	cursor: pointer;
}

.fitbit-device {
	width: 95px;
	height: 95px;
	border-radius: 10px;
	background: #ebebeb;
	padding-top: 9px;
	transition: all 0.5s;
}

.fitbit-device:hover {
	cursor: pointer;
	background: #c3c3c3;
}

.fitbit-device-col {
	padding: 0;
	margin: 0;
}

.fitbit-icon-holder {
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 75px;
	height: 75px;
	padding-left: 100px;
	padding-top: 50px;
}

.relative {
	padding: 15px;
	transition: all 0.5s;
	border-bottom: solid 1px #d3d3d3;
}

.relative:hover {
	background: #FFCCBC;
	cursor: pointer;
}

.relative-selected {
	background: #FF8A65;
	border-bottom: none;
}

#status-subtext {
	color: #999;
	font-size: 13;
	text-align: center;
}

.subtext {
	color: #555;
	font-size: 10;
}

#app-title {
	text-align: center;
	padding-bottom: 10px;
	font-weight: 100;
	font-size: 30px;
}

#relative-status {
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	margin-top: 50px;
}

.dashboard-link {
	font-size: 18px;
	margin: 15px;
	color: #444;
}

.dashboard-link-selected {
	border-bottom: solid 3px #FF5722;
}

.dashboard-link:hover {
	cursor: pointer;
	border-bottom: solid 3px #FF5722;	
}

.dash-link-bar {
	margin: 30px;
	text-align: center;
}
.removeLinkColor{
	color:inherit;
	text-decoration: none;
}
.removeLinkColor:hover{
	color:inherit;
	text-decoration: none;
}
.removeLinkColor:focus{
	color:inherit;
	text-decoration: none;
}
.ng-animate { border-collapse: collapse; }