#primary-login-button {
	width: 100%;
	background: #FF5722;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#login-form {
	padding-top: 200px;
}

#familee-icon {
	width: 150;
	height: 150;
	background-image: url('../res/icon.png');
	background-size: cover;
	
	float: none;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#login-bkg {
	background-image: url('../res/bkg.jpg');
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
}

#familee-icon-white {
	width: 50;
	height: 50;
	background-image: url('../res/icon-white.png');
	background-size: cover;
	
	float: none;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.fade {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}

.outlineless {
    outline: 0; !important
}

body {
	overflow: hidden;
}