<div class="navbar navbar-warning" style="margin: 0;">
  <div class="navbar-header">
    <a class="navbar-brand" style="font-family: 'Poiret One', cursive;">Familee</a>
  </div>

  <ul class="nav navbar-nav outlineless" style="float: right;">
    <li material-ripple><a class="link" href="#" data-toggle="modal" data-target="#addRelative" style="outline: 0">New Family Member</a></li>
    <li class="dropdown" material-ripple>
      <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{ fullname }}</b> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li material-ripple><a href="#" onclick="window.location='/logout'">Logout</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="row-fluid">
	<div class="col-full-height col-md-2" id="family-members">
    <div ng-repeat="relative in relatives">
      <div class="row relative" ng-class="{'relative-selected': selectedRow == relative.name}" ng-click="selectRow(relative.name)">
        {{relative.name}}
        <br>
        <div class="subtext">Some Subtext</div>
      </div>
    </div>
	</div>

	<div class="col-full-height col-md-10">
    <div class="row">
      <div id="relative-status" class="col-md-12">Cameron may not be doing so well.</div>
      <div id="status-subtext">Check in on his...</div>
    </div>

    <div class="row dash-link-bar">
      <span ng-click="currentTab = 'Overview'" ng-class="{'dashboard-link-selected': currentTab == 'Overview'}" class="dashboard-link"><a ui-sref="dashboard.main" class="removeLinkColor">Overview</a></span>
      <span ng-click="currentTab = 'Movement'" ng-class="{'dashboard-link-selected': currentTab == 'Movement'}"class="dashboard-link"><a ui-sref="dashboard.movement" class="removeLinkColor">Movement</a></span>
      <span ng-click="currentTab = 'Sleeping'" ng-class="{'dashboard-link-selected': currentTab == 'Sleeping'}"class="dashboard-link"><a ui-sref="dashboard.sleep" class="removeLinkColor">Sleeping</a></span>
      <span ng-click="currentTab = 'Sickness'" ng-class="{'dashboard-link-selected': currentTab == 'Sickness'}" class="dashboard-link"><a ui-sref="dashboard.sickness" class="removeLinkColor">Sickness</a></span>
    </div>
    <div ui-view class="anim-in-out"></div>
	</div>
</div>

<div id="addRelative" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" ng-show="addRelative1">Add a Family Member</h4>
        <h4 id="secondaryAddTitle" class="modal-title" ng-show="addRelative2">Connect to Fitbit</h4>
      </div>
      <div class="modal-body " ng-show="addRelative1">
        <p>Lets get started by choosing your loved ones deivce. Which device do they have?</p>
        <div class="row" style="margin-top: 40px;">
        	<div class="col-md-2"></div>
        	<div class="col-md-3 fitbit-device-col" ng-click="chooseDevice('flex')">
        		<div class="fitbit-device">
        			<div class="fitbit-icon-holder" style="background-image: url('../res/flex.png')"></div>
        		</div>
        		<div style="padding-left: 35px;">Flex</div>
        	</div>
        	<div class="col-md-3 fitbit-device-col" ng-click="chooseDevice('charge')">
        		<div class="fitbit-device">
        			<div class="fitbit-icon-holder" style="background-image: url('../res/charge.png')"></div>
        		</div>
        		<div style="padding-left: 25px;">Charge</div>
        	</div>
        	<div class="col-md-3 fitbit-device-col">
        		<div class="fitbit-device" ng-click="chooseDevice('surge')">
        			<div class="fitbit-icon-holder" style="background-image: url('../res/surge.png')"></div>
        		</div>
        		<div style="padding-left: 30px;">Surge</div>
        	</div>
        </div>
      </div>

      <div id="secondaryAddMessage" class="modal-body " ng-show="addRelative2">
        <p>Great, to set up your relatives Fitbit {{ addingDevice }} we'll need to have you login with the Fitbit account the device is associated with. This account may be registered to you, or to your relative depending on who's device it actually is. When your ready, press Next and we'll open up Fitbits website for you to login in at.</p>
      </div>

      <div class="modal-footer">
        <button id="nextButton" type="button" class="btn btn-primary" ng-show="showRelativeNext" ng-click="next()" style="margin: 10;">Next</button>
      </div>
    </div>

  </div>
</div>