<div id="login-bkg"></div>

<div id="login-form" class="container">
	<div class="row col-md-3 col-centered">
	<div id="app-title">Familee</div>
		<div class="well">
			<div id="familee-icon"></div>
			<div class="form-group form-group-material-deep-orange">
		      	<input class="form-control floating-label" id="username" placeholder="Email Address" ng-model="login.username" material-input spellcheck="false">
	   		</div>

	   		<div class="form-group form-group-material-deep-orange">
		      	<input type="password" class="form-control floating-label" id="pass" placeholder="Password" ng-keypress="watchReturn($event)" ng-model="login.password" material-input>
	   		</div>
		   	
		   	<button class="btn btn-primary" id="primary-login-button" ng-click="onLogin()" material-ripple>Login<div class="ripple-wrapper"></button>
		   </div>
	</div>
</div>